<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lesson 13_14</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
<script type = "text/template" id = "test">
    <div class="main">
        <div class="wrapper">
            <h1 class="testTitle">Тест</h1>
            <form action="" class = "form">
                <% for(var item in data){%>
                <div class ="answersBlock box<%=item%>">
                    <div class="questionTitle"><span><%= data[item].question%></span></div>
                    <% if(data[item]){%>
                    <% var count = 0%>
                    <% data[item].answers.forEach(function(answer){%>
                    <label class="answer"><input type = "radio" class="checkbox" value="<%=answer%>">
                        <span><%=answer%></span>
                    </label>
                    <% count++; if(count === 4){count = 0;}%>
                    <%})%>
                    <%}%>
                </div>
                <%};%>
                <input type = "button" id = "buttonOn" value="Результат">
            </form>
        </div>
    </div>
</script>
</body>
</html>